<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

	<title>Conecta2</title>
	
	<!-- Required meta tags -->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	
	<!-- Style CSS -->
	<link href="css/style.css" rel="stylesheet" />
	
</head>
<body>

<div class="container">
	<nav class=" navbar navbar-light  navbar-expand-lg fondoGris">
		<a class="navbar-brand">
			<img src="/images/logo.png" width="100" height="60" alt="Logo">
			Conecta2
		</a>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="#">Perfil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Ofertas</a>
				</li>
			</ul>
		</div>
		<form class="form-inline  my-2 my-lg-0 ">
			<input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
			<button class="btn btn-std my-2 my-sm-0" type="submit">Buscar</button>
		</form>  
	</nav>
</div>
	
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.slim.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/bootstrap.min.js"></script>    
</body>

</html>