<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

	<title>Conecta2</title>
	
	<!-- Required meta tags -->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	
	<!-- Style CSS -->
	<link href="css/style.css" rel="stylesheet" />
	<link href="css/nav.css" rel="stylesheet" />
</head>
<body>

<div class="container-fluid fix-padding">
	<nav class="navbar navbar-light navbar-expand-lg fondoGris d-flex flex-row flex-nowrap justify-content-around">
		<a href="/paginaMenuEmpresa" class="navbar-brand d-flex sflex-row flex-nowrap align-items-center inicio-nav">
			<img src="/images/logoInicio.png" width="auto" height="55px" alt="Logo Conecta2" class="logo-nav">
			<span class="title-nav mr-2">Conecta2</span>
		</a>
		<!-- 
		<div class="collapse navbar-collapse d-flex flex-row flex-nowrap" id="navbarSupportedContent">
			<ul class="navbar-nav d-flex flex-row flex-nowrap">
				<li class="nav-item">
					<a class="nav-link px-2 btn-grey" href="#">Perfil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link px-2 btn-grey" href="#">Ofertas</a>
				</li>
			</ul>
		</div>
		-->
		<div class="d-flex flex-row align-items-center">
			<a class="notification-nav"><img src="/images/alert.png" height="35px" width="auto"></a>
		
			<a href="/verPerfilEmpresa" class="d-flex flex-row flex-nowrap align-items-center justify-content-center px-4 py-1 profile-nav">
				<img src="/images/avatar.png" height="50px" width="auto" class="img-nav">
			</a>
			
			<a class="btn btn-std" href="#">Desconectar</a>
		</div>
		<!-- 
		<form class="form-inline my-2 my-lg-0 d-flex flex-row flex-nowrap">
			<input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
			<button class="btn btn-std my-2 my-sm-0" type="submit">Buscar</button>
		</form>
		 -->  
	</nav>
</div>
	
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.slim.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

</html>