<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <title>Navbar</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
  </head>
    <body>
	  <div class="container">		
		<nav class=" navbar navbar-light navbar-expand-lg fondoGris" th:fragment="navbar">
			<a class="navbar-brand" th:if="${particular == null && empresa == null}" href="/">
				<img src="/images/logo.png" width="100" height="60" alt="Logo" />
			  	Conecta2
			</a>
		    <a class="navbar-brand" th:if="${particular != null || empresa != null}" href="/ofertas">
				<img src="/images/logo.png" width="100" height="60" alt="Logo" />
				Conecta2
			</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent" th:if="${particular} or ${empresa} != null">
			 	<ul class="navbar-nav">
			      	<li class="nav-item">
			      		<a class="nav-link" th:href="'/particular/perfil'" th:if="${particular != null}">Perfil</a>
			        	<a class="nav-link" th:href="'/empresa/perfil'" th:if="${empresa != null}">Perfil</a>
			      	</li>
			      	<li class="nav-item">
			        	<a class="nav-link" href="/ofertas">Mis Ofertas</a>
			      	</li>
			      	<li class="nav-item my-auto">
			        	<a class="nav-link" th:if="${particular == null && empresa == null && notificaciones == null}" href="#"><i class="material-icons">notifications_none</i></a>
			      		<div class="col-auto">
				      		<a class="rounded" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons notification-active rounded" style="color: white;">notifications_active</i></a>
				      		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							    <div th:each="notificacion : ${listaNotificacionesEmp}" th:if="${!notificacion.leida and empresa != null}" class="dropdown-item drop-menu-item d-flex flex-row">
							    	<span th:text="${notificacion.descripcion}" class="my-auto"></span>
							    	<a class="my-auto ml-auto" th:href="'/notificacionLeida?id=' + ${notificacion.id}"><i class="material-icons rounded-circle">clear</i></a>
							    </div>
							       <div th:each="notificacion : ${listaNotificacionesPar}" th:if="${!notificacion.leida and particular != null}" class="dropdown-item drop-menu-item d-flex flex-row">
							    	<span th:text="${notificacion.descripcion}" class="my-auto"></span>
							    	<a class="my-auto ml-auto" th:href="'/notificacionLeida?id=' + ${notificacion.id}"><i class="material-icons rounded-circle">clear</i></a>
							    </div>
							  </div>
						</div>
			      	</li>
			     </ul>
			</div>
			<form class="form-inline  my-2 my-lg-0" th:if="${particular} != null" th:action="@{/buscar}" method="GET">
							<input class="form-control mr-sm-2" type="search" name="texto" aria-label="Buscar">
							<button class="btn btn-std my-2 my-sm-0" type="submit">Buscar</button>
						</form>
			<div class="d-flex flex-row float-right" th:if="${particular} or ${empresa} != null">
				<span class="nav-link nav-email" th:if="${empresa} != null" th:text="${empresa.email}"></span>
				<span class="nav-link nav-email" th:if="${particular} != null" th:text="${particular.email}"></span>
				<a class="nav-link nav-logout navbar-light my-auto mr-3 ml-2" href="/logout">Desconectar</a>
			</div>
		</nav>
		
		<!-- Optional JavaScript -->
    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
	</div>
  </body>
</html>