
.lista-ofertas {
	padding: 0;
	list-style: none;
}

.lista-ofertas li {
	margin: 0;
}

.li-ver-ofertas {
	background-color: #0FC0CC;
	border-radius: 0.25rem 0.25rem 0 0;
}

.title-lista-ofertas {
	font-size:160%;
	text-align: left;
	color: white;
}

.btn-menu {
	border-radius: 0.25rem 0.25rem 0 0;
}

.oferta {
	padding: 1% 0;
	background: #EFF0F5;
	border-bottom: 2px solid #E1E2E1;
}

.oferta li span {
	text-align:left;
	margin: auto 0;
}

.title-oferta {
	font-size: 120%;
	color:#212529;
	text-decoration:none;
}

.title-oferta:hover {
	color:#008F9B;
	text-decoration:none;
}

input[type=text] {
    width: 130px;
    padding: 3px 10px 6px 40px;
    
    box-sizing: border-box;
    border: 2px solid #0FC0CC;
    border-radius: 4px;
    
    font-size: 120%;
    
    background-color: #EFF0F5;
    background-image: url('searchIcon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}


/*
.header {
	margin: 2%;
	display: flex;
	flex-direction: column;
}

.img-opt {
	padding: 7px;
}

.img-opt:hover {
	background-color:#008F9B;
}

.menu-list {
	margin: 0;
	list-style: none;
	padding: 0;
	margin-top: 10%;
	color: #6B7C93;
	font-family: Helvetica;
	font-size: 16px;
	background-color:#EFF0F5;
	display: none;
}

.menu-list__item {
  margin-left: 0px;
  padding: 5% 10%;
  border-bottom: 1px solid #E1E2E1;
}

.trigger-input {
  display: none
}

.trigger-input:checked + .trigger-wrapper .menu-list {
	display: block;
}

.trigger-wrapper label {
	margin: 0;
}
*/