body {
	background-color:#FFFFFF;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


div.container{
	position: absolute;
	padding: 0px;	
}

.inicio-sesion{
	margin-top: 10%;
}

.formulario{
	padding: 4% 5% 3%;
	background: #EFF0F5;
}

.form-crear-cuenta{
	margin-top: 3%;
}

img{
	
	padding: 4% 5% 3%;
}


div.card-deck{
	margin: 5% 0% 5%;
}

.jumbotron{
	margin: 5%;
	opacity: 0.93;
}

.alert{
	margin: 2% auto;
}

.btn-grey{
	background: #89898C;
	color: white;
}

div.enlace-inicio{
	margin: 20px 0px 0px 0px;
}

.error{
	color: red;
}
.fondoGris{
	background: #89898C;
	color:white;
	height: 60px;
}




.centrarImagenCabecera{
	float:none;	
	left: 50%;
	transform: translatex(-50%);
}
.separador-gris{
	background-color:#89898C;
}