<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

	<title>Conecta2</title>
	
	<!-- Required meta tags -->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	
	<!-- Style CSS -->
	<link href="css/style.css" rel="stylesheet" />
	<link href="css/nav.css" rel="stylesheet" />
	<link href="css/paginaMenu.css" rel="stylesheet" />
	
</head>
<body>

	
	<div class="container-fluid fix-padding">
		<!-- Navbar -->
		<nav th:replace="fragments/nav :: nav"></nav>
	
		<div class="row justify-content-center mt-3">
			<div class="col-auto">

				<div class="d-flex flex-row justify-content-between li-ver-ofertas">
					<span class="d-flex flex-row title-lista-ofertas px-4 py-1">Crear Oferta</span>
				</div>
				<div>
					<!--  th:action="@{/crear-oferta}" th:object="${transferOferta}" -->
					 <form class="formulario" method="POST">
		  		
			  				<div class="form-group">
			  					<label for="nombre">Nombre</label>
			  					<!-- th:field="*{nombre}" -->
								<input type="text" class="form-control" id="nombre" placeholder="Nombre" autofocus/>
								<!-- <label th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="validation-message errorEmpresa"></label>
			  				 -->
			  				</div>
			  				
			  				<div class="form-group">
								<label for="jornada">Jornada Laboral</label>
								<select class="form-control" id="jornada">
									<option>Tiempo Completo</option>
									<option>Tiempo Parcial</option>
									<option>Por horas</option>
								</select>
							</div>
							
							<div class="form-group">
								<label for="contrato">Contrato</label>
								<select class="form-control" id="contrato">
									<option>Indefinido</option>
									<option>Temporal</option>
									<option>En formación</option>
									<option>Prácticas</option>
								</select>
							</div>
							
							<div class="form-group">
			  					<label for="vacantes">Vacantes</label>
			  					<!-- th:field="*{nombre}" -->
								<input type="number" min="1" class="form-control" id="vacantes" autofocus/>
								<!-- <label th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="validation-message errorEmpresa"></label>
			  				 -->
			  				</div>
			  				
			  				<div class="form-group">
			  					<label for="salario">Salario</label>
			  					<!-- th:field="*{nombre}" -->
								<input type="number" min="0" step="50.0" class="form-control" id="salario" autofocus/>
								<!-- <label th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="validation-message errorEmpresa"></label>
			  				 -->
			  				</div>
							
							<div class="form-group">
			  					<label for="nombre">Ccaa</label>
			  					<!-- th:field="*{nombre}" -->
								<input type="text" class="form-control" id="ccaa" placeholder="ccaa" autofocus/>
								<!-- <label th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="validation-message errorEmpresa"></label>
			  				 -->
			  				</div>
							
			  				<div class="form-group">
								<label for="descripcion">Descripción</label>
								<textarea class="form-control" id="descripcion" rows="3"></textarea>
							</div>
			 				
			 				
			 				<div class="text-center">
			  					<button type="submit" class="btn btn-grey" data-toggle="modal" data-target="#myModal">Crear Oferta</button>
			  						<!-- Modal -->
									  <div class="modal fade" id="myModal" role="dialog">
									    <div class="modal-dialog">
									    
									      <!-- Modal content-->
									      <div class="modal-content">
									        <div class="modal-header">
									          <button type="button" class="close" data-dismiss="modal">&times;</button>
									          <!--  <h4 class="modal-title">Modal Header</h4> -->
									        </div>
									        <div class="modal-body">
									          <p>Mire en su correo, le llegará un email de verificación!</p>
									        </div>
									        <div class="modal-footer">
									          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									        </div>
									      </div>
									      
									    </div>
									  </div>
			 				</div>
			  
			         </form>
				</div>

			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>  

</body>

</html>