<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <title>Conecta2</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap CSS -->
    	 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    
    <!-- Style CSS -->
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
  
  
  
  
  <div class="container col-12">
  	  

  		<div class="row flex-nowrap justify-content-between align-items-center fondoGris rounded">
  			<div class="col-3"></div>
  			<div class="text-center">
  				<a href="/"><img src="images/logoInicio.png" width="auto" height="80" alt="Logo Conecta2" > </a>
  			</div>
  			<div class="col-3"></div>

  		</div>


  		<div class="row flex-nowrap justify-content-between align-items-center">
  			
  			<div class="col-12"></div>
  			
  		</div>

  	      






       <div class="row">
       	  <div class="col-md-3 "></div>
       	  <div class="col-md-6 flex-nowrap justify-content-between align-items-center ">
       	  	
				<h5 class="text-center" style="margin-top: 5%">¿No estás registrado <strong>aún?</strong></h5>
       	  	
       	  	
       	  		<p class="text-center"><u> Registrate gratis </u> en pocos segundos.</p>
       	  		
       	  	    <ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
       	  	    	<li class="nav-item">
		               <a class="nav-link border"  id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Empresas</a>
		           </li>
		           <li class="nav-item">
		               <a class="nav-link border" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="false">Particulares</a>
		          </li>
		      </ul>
		
			
			  <div class="tab-content" id="pills-tabContent">
			      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
				       <form class="formulario" th:action="@{/crear-empresa}" th:object="${transferEmpresa}" method="POST">
		  		
		  
			  				<div class="form-group">
			  					<label for="nombreEmpresa" class="sr-only">Nombre de la Empresa</label>
									<input type="text" class="form-control" th:field="*{nombreEmpresa}" id="nombreEmpresa" placeholder="Nombre Empresa" autofocus/>
									<label th:if="${#fields.hasErrors('nombreEmpresa')}" th:errors="*{nombreEmpresa}" class="validation-message errorEmpresa"></label>
			  				</div>
			  				
			  				
			  				<div class="form-group">
			  					<label for="cif" class="sr-only">CIF</label>
									<input type="text"  class="form-control" th:field="*{cif}" id="cif" placeholder="CIF" autofocus/>
									<label th:if="${#fields.hasErrors('cif')}" th:errors="*{cif}" class="validation-message errorEmpresa"></label>
			  				</div>
			  				
			  				
			  				<div class="form-group">
			  					<label for="email" class="sr-only">Correo electrónico</label>
			  						<input type="text" class="form-control" th:field="*{email}" id="email" placeholder="Email" autofocus/>
			  						<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message errorEmpresa"></label>
			  
			  				</div>
			  				
			  				<div class="form-group">
			  					<label for="password" class="sr-only">Contraseña</label>
			  						<input type="password" class="form-control" th:field="*{password}" id="password" placeholder="Contraseña" autofocus/>
			  						<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message errorEmpresa"></label>
			  					
			 				</div>
			 				
			 				<div class="form-group">
			  					<label for="passwordConfirmacion" class="sr-only">Confirmar contraseña</label>
			  						<input type="password" class="form-control" th:field="*{passwordConfirmacion}" id="passwordConfirmacion" placeholder="Confirmar Contraseña" autofocus/>
			  						<label th:if="${#fields.hasErrors('passwordConfirmacion')}" th:errors="*{passwordConfirmacion}" class="validation-message errorEmpresa"></label>
			  
			 				</div>
			 				
			 				
			 		 		<div class="text-center">
			  					<button type="submit" class="btn btn-grey" data-toggle="modal" data-target="#myModal">Registrarse</button>
			  						<!-- Modal -->
									    <div class="modal fade" id="myModal" role="dialog">
									       <div class="modal-dialog">
									    
									      <!-- Modal content-->
									        <div class="modal-content">
									          <div class="modal-header">
									            <button type="button" class="close" data-dismiss="modal">&times;</button>
									          <!--  <h4 class="modal-title">Modal Header</h4> -->
									           </div>
									           <div class="modal-body">
									              <p>Mire en su correo, le llegará un email de verificación!</p>
									           </div>
									           <div class="modal-footer">
									              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									           </div>
									         </div>
									      
									       </div>
									  </div>
			 				</div>  

			 				<hr class="mb-4 separador-gris">
			  
			 			    <div class="text-center">
			 			    	<p>Si ya tienes una cuenta con nosotros <a href="/">inicia sesión</a></p>
			  				
			 			    </div>  
			         </form>
			     </div>
		
		     
		   
		   
		          <div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
					  <form class="formulario" th:action="@{/crear-particular}" th:object="${transferParticular}" method="POST">
						  
						  <div class="form-group">
						  	<label for="nombre" class="sr-only">Nombre</label>
							<input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="Nombre" autofocus/>
							<label th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="validation-message errorParticular"></label>
						  </div>
						  
						  <div class="form-group">
						  	<label for="apellidos" class="sr-only">Apellidos</label>
							<input type="text" th:field="*{apellidos}" class="form-control" id="apellidos" placeholder="Apellidos" autofocus />
							<label th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}" class="validation-message errorParticular"></label>
						  </div>
						  <div class="form-group">
						  	<label for="nombre" class="sr-only">DNI</label>
							<input type="text" th:field="*{dni}" class="form-control" id="dni" placeholder="DNI" autofocus />
							<label th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" class="validation-message errorParticular"></label>
						  </div>
						  <div class="form-group">
						  	<label for="email" class="sr-only">Correo electrónico</label>
						  	<input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email" autofocus/>
						  	<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message errorParticular"></label>
						  </div>
						  <div class="form-group">
						  	<label for="password" class="sr-only">Contraseña</label>
						  	<input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Contraseña" autofocus/>
						  	<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message errorParticular"></label>
						  </div>
						  <div class="form-group">
						  	<label for="passwordConfirmacion" class="sr-only">Confirmar contraseña</label>
						  	<input type="password" th:field="*{passwordConfirmacion}" class="form-control" id="passwordConfirmacion" placeholder="Confirmar contraseña" autofocus/>
						  	<label th:if="${#fields.hasErrors('passwordConfirmacion')}" th:errors="*{passwordConfirmacion}" class="validation-message errorParticular"></label>
						  </div>
						
						
						
					      <div class="text-center">
			  					<button type="submit" class="btn btn-grey" data-toggle="modal" data-target="#myModalParticular">Registrarse</button>
			  						<!-- Modal -->
									  <div class="modal fade" id="myModalParticular" role="dialog">
									    <div class="modal-dialog">
									    
									      <!-- Modal content-->
									      <div class="modal-content">
									        <div class="modal-header">
									          <button type="button" class="close" data-dismiss="modal">&times;</button>
									          <!--  <h4 class="modal-title">Modal Header</h4> -->
									        </div>
									        <div class="modal-body">
									          <p>Mire en su correo, le llegará un email de verificación!</p>
									        </div>
									        <div class="modal-footer">
									          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									        </div>
									      </div>
									      
									    </div>
									  </div>
			  
			 				</div>  

			 				<hr class="mb-4 separador-gris" >
			  
			 			    <div class="text-center">
			 			    	<p>Si ya tienes una cuenta con nosotros <a href="/">inicia sesión</a></p>
			  				
			 			    </div>  
						
					 </form>	  
		          </div>	   
		   
	          </div>		
		
		 </div> <!-- final col-md-6  -->
	
     </div><!-- final row -->
	
		
		

	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>    
  	<script>
  	$(document).ready(function() {
    	let msgsEmpresa = $(".errorEmpresa");
    	if(msgsEmpresa.length == 0) {
    		
    	}
    	else {
    		$("#pills-profile-tab").addClass("active");
    		$("#pills-profile").addClass("show active");
    	}
    	
    	let msgsParticular = $(".errorParticular");
		if(msgsParticular.length == 0) {
    		
    	}
    	else {
    		$("#pills-home-tab").addClass("active");
    		$("#pills-home").addClass("show active");
    	}
  	});
    </script>
  
  </div>
  </body>
</html>