<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<title>Conecta2</title>
	
	<!-- Required meta tags -->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
	
	<!-- Bootstrap CSS -->
    	 <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<!-- Style CSS -->
	<link href="css/style.css" rel="stylesheet" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
	
<body>
  	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div th:if="${popup == null}">
	
	<div class="container-portada">
		<div class="details text-center" >			
			<span class="letras-Inicio"> ¡Bienvenido!</span>
			<h2>Encuentra de manera rápida el trabajo que deseas</h2>
		</div>
	</div>
	
	
	<div class= "row mt-4">
	
		<div class="col-6 margen-texto-inicio letra-azul">
			<h3><i class="material-icons">done</i>Registrate de forma gratuita</h3>
			<hr class="mb-4 separador-gris">
			<h3><i class="material-icons ">search</i>Busca entre miles de ofertas</h3>
			<hr class="mb-4 separador-gris">
			<h3><i class="material-icons ">tag_faces</i>  Encuentra el trabajo que siempre has querido</h3>
		</div>
		
		<div class=" col-5">
			<form class="formulario border text-center margen-texto-inicio" th:action="@{/login}" method="POST">
				<h2>Iniciar Sesión</h2>
				<hr class="mb-4 separador-gris">
				<div class="form-group col-md-8 ">
					<label for="email" class="sr-only">Correo electrónico</label>
					<input type="email" class="form-control margen-campos-form" name="email" id="email" required="true" placeholder="Correo Electronico" autofocus/>
				</div>
				<div class="form-group col-md-8">
					<label for="password" class="sr-only">Contraseña</label>
					<input type="password" class="form-control margen-campos-form" name="password" id="password" required="true" placeholder="Contraseña" autofocus/>
				</div>
				<div th:if="${param.error}">
					<p class="errorEmpresa">Usuario o contraseña incorrectos o usuario no verificado</p>
				</div>
				<div  class=" text-center">
					<button type="submit" class="btn botonAzul">Iniciar Sesión</button>
					<a href="/crear-cuenta" class="btn btn-grey">Crear cuenta</a>
				</div>
			</form>
			<div class="margen-texto-inicio letra-azul">
					<a  data-target="#modalPass" data-toggle="modal"> ¿Ha olvidado su contraseña?</a>
			</div>
		</div>
	
	</div>
	
	</div>

	<!-- Si hay un error -->
	<div th:if="${popup != null}">	
		<div class="modal-dialog">
									    
			 <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<label th:text="${popup}"></label>
				</div>
				<div class="modal-footer">
					<a href="/" class="btn">Ir atras</a> 
			 	</div>
			</div>
									      
		</div>	
	</div>
	
	
	<!-- Modal para contraseña-->
<div class="modal fade" id="modalPass" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <form th:action="@{/recuperar-contrasenia}" method="POST">
      <div class="modal-header">
        <h5 class="modal-title">¿Ha olvidado su contraseña?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span> ¿Ha olvidado su contraseña? Escriba a continuación su correo electronico</span>
		<input type="email" class="form-control" name="emailRecupera" required="true" placeholder="Correo Electronico"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn botonAzul">Enviar</button>
      </div>
          </form>
      
    </div>
  </div>
</div>
	
	
	
	<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/js/jquery-3.2.1.slim.min.js" ></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js" ></script>    

</body>
</html>