<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<title>Conecta2</title>
	
	<!-- Required meta tags -->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	
	<!-- Style CSS -->
	<link href="css/style.css" rel="stylesheet" />
</head>

  <body>
  <div class="container col-12">
  	<nav th:replace="fragments/navbar :: navbar"></nav>
  	
  	<div class="jumbotron">
	  <h1 class="display-4">Acerca de</h1>
	  <p class="lead">Descripción del proyecto
	  </p>
	</div>
	
		<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="js/jquery-3.2.1.slim.min.js"></script>
	<script src="js/bundle.min.js"></script>
	<script src="js/bootstrap.min.js"></script>    
	<script src="js/app.js"></script>
  </div>
  </body>
</html>