<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <title>Conecta2</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    
    <!-- Style CSS -->
    <link href="../css/style.css" rel="stylesheet" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  	<nav th:replace="fragments/navbar :: navbar"></nav>
  	
  	
  	<div class="row mt-5">
  	
  		<div class="col-10 color-perfil mx-auto border border-dark rounded container-perfilEmpresa">
  			
	        	<div class="row">
	        		<div class="col-4 margenes-foto"> 
	        			 <img src="/images/avatar.png" class=" img-thumbnail img-fluid rounded-circle" height="200px" width="200px" alt="foto perfil">
	        	    </div>    
	        	   	</div> 
	        	
		<form class="formulario" th:action="@{/empresa/modificar}" th:object="${transferEmpresa}" method="POST">
  		   <div class="row">
  		     <div class="col-6  ml-auto text-center">
  		          <h3>Datos personales</h3>
  		          <hr class="mb-4 separador-gris">
  		          
  		          
  		          
			  		 
			  		 
			  	    <div class="form-group row ">
			  		<label class="perfilTitulo letra-azul col-form-label col-3  margen-datos" id="nombreEmpresa" for="Nombre"><u>Nombre:</u> </label>
			  		<div>				  		  		
			  		  <input class="form-control " th:value=${transferEmpresa.nombreEmpresa} th:field="*{nombreEmpresa}"></input>
			  		   <label th:if="${#fields.hasErrors('nombreEmpresa')}" th:errors="*{nombreEmpresa}" class="validation-message error"></label>
			  		 </div>
			  		</div>				  		 
			  		 
			  		 
			  		  <div class="form-group row">
			  		<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos" for="CIF"><u>CIF:</u> </label>					  		  		
			  		  <span class="form-control-plaintext " th:text=${transferEmpresa.cif}></span>
			  		  <input type="hidden" th:value="${transferEmpresa.cif}" th:field="*{cif}" />
			  		  <input type="hidden" th:value="${transferEmpresa.activo}" th:field="*{activo}" />
			  		  
			  		 </div>
			  		 
			  		 
			  		  <div class="form-group row ">
			  		<label class="perfilTitulo letra-azul col-form-label col-3  margen-datos" id="tlfEmpresa" for="Teléfono"><u>Teléfono:</u> </label>
			  		<div>				  		  		
			  		  <input class="form-control " th:value=${transferEmpresa.telefono} th:field="*{telefono}"></input>
			  		  <label th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" class="validation-message error"></label>
			  		 </div>
			  		</div>
			  		 
			  		 
			  		  <div class="form-group row">
			  		<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos " for="Email"><u>Email:</u> </label>					  		  		
			  		  <span class="form-control-plaintext " th:text=${transferEmpresa.email}></span>
			  		  <input type="hidden" th:value="${transferEmpresa.email}" th:field="*{email}" />
			  		  
			  		 </div>
			  	    
			  		</form>
			  		
			  	</div>
  		     <div class="col-6  sep-vertical text-center">
 		     <h3>Información Adicional</h3>
  		          <hr class="mb-4 separador-gris">
  		     	<div class="form-group text-left">
  		     	<label for="descripcion" class="letra-azul perfilTitulo "><u>Descripción:</u></label>
  		     	<textarea class="form-control " rows="5" id="descripcion" th:text=${transferEmpresa.descripcion} th:field="*{descripcion}"></textarea>
  		        </div>
  		     
  		     
  		     </div>
  		     
  		   </div><!-- final row -->
  		        <div  class=" text-center  margen-botones">
				<button type="submit" class=" btn-lg btn botonAzul" data-toggle="modal" data-target="#modalModificarEmpresa">Guardar</button>
				<!-- Modal -->
									  <div class="modal fade" id="modalModificarEmpresa" role="dialog">
									    <div class="modal-dialog">
									    
									      <!-- Modal content-->
									      <div class="modal-content">
									        <div class="modal-header">
									          <button type="button" class="close" data-dismiss="modal">&times;</button>
									          <!--  <h4 class="modal-title">Modal Header</h4> -->
									        </div>
									        <div class="modal-body">
									          <p>Datos cambiados correctamente</p>
									        </div>
									        <div class="modal-footer">
									          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									        </div>
									      </div>
									      
									    </div>
				
				</form>
				<button class="btn-lg btn btn-grey">Cancelar</button>
			</div>
  		   
  	    </div>
  	
  	</div>

  	
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.slim.min.js" ></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js" ></script>    
 
  </body>
</html>