<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <title>Conecta2</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    
    <!-- Style CSS -->
    <link href="../css/style.css" rel="stylesheet" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  	<nav th:replace="fragments/navbar :: navbar"></nav>
  		
  	
  	<div class="row mt-5">  	
  		<div class="col-10 color-perfil mx-auto border border-dark rounded container-perfil">  			
	        	<div class="row">
        		<div class=" mx-auto mb-3"> 
	        			 <img src="/images/avatar.png" class="perfil-img img-thumbnail img-fluid rounded-circle" alt="foto perfil">
	        	    </div>	        	    
	        	</div>

  		   <form  th:action="@{/particular/modificar}" th:object="${transferParticular}" method="POST">
  		   <div class="row">
  		     <div class="col-6  ml-auto text-center">
  		          <h3>Datos personales</h3>
  		          <hr class="mb-4 separador-gris">
  		          <input type="hidden" name="id" th:value="${id}"></input>	
			  	  <div class="form-group row">
				  	<label class="perfilTitulo letra-azul col-form-label col-3  margen-datos " id="nombreParticular"  for="Nombre"><u>Nombre:</u> </label>			  		  		
			  		<div>
			  		  <input type="text" th:field="*{nombre}" class="form-control " th:value=${transferParticular.nombre}></input>
			  		  <label  th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="validation-message errorParticular"></label>
			  		</div>			  			
			  	  </div>
			  		
			  	  <div class="form-group row">
			  		<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos" for="Nombre"><u>Apellidos:</u> </label>		
			  		<div>			  		  		
			  		  <input type="text" th:field="*{apellidos}" class="form-control " th:value=${transferParticular.apellidos}></input>
			  		  <label th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}" class="validation-message errorParticular"></label>
			  		</div>				  			
			  	  </div>
			  		 
			  	  <div class="form-group row">
			  		<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos" for="Nombre"><u>DNI:</u> </label>					  		  		
			  		<span class="form-control-plaintext " th:text=${transferParticular.dni}></span>
			  		<input type="hidden" th:value="${transferParticular.dni}" th:field="*{dni}" />					  		  					  					  			
			  	  </div>
			  		 
			  	  <div class="form-group row">
			  		<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos " for="Nombre"><u>Teléfono:</u> </label>					  		  		
			  		<div>
			  		  <input type="text" th:field="*{telefono}" class="form-control " th:value=${transferParticular.telefono}></input>
			  		  <label th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}" class="validation-message errorParticular"></label>
			  		</div>			  			
			  	  </div>
			  		 
			  	 <div class="form-group row">
			  		<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos " for="Nombre"><u>Email:</u> </label>
			  		<span class="form-control-plaintext " th:text=${transferParticular.email}></span>
			  		<input type="hidden" th:value="${transferParticular.email}" th:field="*{email}" />
			  	 </div>
			  </div>
			  
  		     <div class="col-6  sep-vertical text-center">
 		     	<h3>Información Adicional</h3>
  		        <hr class="mb-4 separador-gris">
  		     	<div class="form-group text-left ">
	  		     	<label for="descripcion" class="perfilTitulo letra-azul"><u>Descripción:</u></label>
	  		     	<textarea th:field="*{descripcion}" th:value=${transferParticular.descripcion} class="form-control " rows="5" id="descripcion"></textarea>
  		        </div>    
  		     </div>
  		     
  		     
  		   </div><!-- final row -->
  		   
  		  
  		 
  		    <div  class=" text-center  margen-botones">
				<button type="submit" class=" btn-lg btn botonAzul" data-toggle="modal" data-target="#modalModificarParticular">Guardar</button>
										 <a th:href="'/particular/perfil'" th:if="${particular != null}"> 
									              <input type="button" class="btn-lg btn btn-grey" value="Cancelar"></input>
									              
									    </a>
			</div>
		</form>
			
  	    </div>
  	
  	</div>





  	
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="/js/jquery-3.2.1.slim.min.js" ></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js" ></script>    
  
  </body>
</html>