<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <title>Conecta2</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    
    <!-- Style CSS -->
    <link href="../css/style.css" rel="stylesheet" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  	<nav th:replace="fragments/navbar :: navbar"></nav>
  	
  	
  	
  	
  	<div class="row mt-5">
  	
  		<div class="col-10 perfil mx-auto border border-dark rounded container-perfil">
  			
	        	<div class="row">
	        		<div class="col-4 margenes-foto"> 
	        			 <img src="/images/avatar.png" class=" img-thumbnail img-fluid rounded-circle" height="200px" width="200px" alt="foto perfil">
	        	    </div>    
	        	    	<div class="col-1  margen-boton-modificar"> 
	        	    	
  	              <a href="/empresa/modificar"> 
  	               	<button type="submit" class="btn botonAzul rounded-circle "  name="botonModificar"><i class="material-icons">border_color</i></button>
  	               	</a>
	        	    	</div>	 
	        	</div> 

  	          
  	            

  		
  		   <div class="row">
  		     <div class="col-6  ml-auto text-center">
  		          <h3>Datos personales</h3>
  		          <hr class="mb-4 separador-gris">
  		          <form>
			  	    <div class="form-group row">
			  		<label class="perfilTitulo letra-azul col-form-label col-3  margen-datos " id="nombreParticular"  for="Nombre"><u>Nombre:</u> </label>					  		  		
			  		  <div>
			  		  <input class="form-control " th:value=${transferParticular.nombre}></input>
			  		  <!--  <label th:if="${#fields.hasErrors('nombreParticular')}" th:errors="*{nombreParticular}" class="validation-message error"></label>-->
			  			</div>			  			
			  		 </div>
			  		
			  		  <div class="form-group row">
			  		<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos" for="Nombre"><u>Apellidos:</u> </label>		
			  		<div>			  		  		
			  		  <input class="form-control " th:value=${transferParticular.apellidos}></input>
			  		   <!-- <label th:if="${#fields.hasErrors('apellidoParticular')}" th:errors="*{apellidoParticular}" class="validation-message error"></label> -->
			  		</div>				  			
			  		 </div>
			  		 
			  		 
			  		  <div class="form-group row">
			  		<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos" for="Nombre"><u>DNI:</u> </label>					  		  		
			  		  <span class="form-control-plaintext " th:text=${transferParticular.dni}></span>
			  			<!-- <input class="form-control" id="cif"> -->			  			
			  		 </div>
			  		 
			  		 <div class="form-group row">
			  		<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos " for="Nombre"><u>Teléfono:</u> </label>					  		  		
			  		  <div>
			  		  <input class="form-control " th:value=${transferParticular.telefono}></input>
			  		   <!--  <label th:if="${#fields.hasErrors('tlfParticular')}" th:errors="*{tlfParticular}" class="validation-message error"></label> -->
			  			</div>			  			
			  		 </div>
			  		 
			  		  <div class="form-group row">
			  		<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos " for="Nombre"><u>Email:</u> </label>					  		  		
			  		  <span class="form-control-plaintext " th:text=${transferParticular.email}></span>
			  			<!-- <input class="form-control" id="cif"> -->			  			
			  		 </div>
			  	    
			  		</form>
			  		
			  	</div>
  		     <div class="col-6  sep-vertical text-center">
 		     <h3>Información Adicional</h3>
  		          <hr class="mb-4 separador-gris">
  		     	<div class="form-group text-left ">
  		     	<label for="descripcion" class="perfilTitulo letra-azul"><u>Descripción:</u></label>
  		     	<textarea class="form-control " rows="5" id="descripcion" ></textarea>
  		        </div>
  		     
  		     
  		     </div>
  		     
  		     
  		   </div><!-- final row -->
  		   
  		  
  		 
  		    <div  class=" text-center  margen-botones">
				<button type="submit" class=" btn-lg btn botonAzul" data-toggle="modal" data-target="#modalModificarParticular">Guardar</button>
				<!-- Modal -->
									  <div class="modal fade" id="modalModificarParticular" role="dialog">
									    <div class="modal-dialog">
									    
									      <!-- Modal content-->
									      <div class="modal-content">
									        <div class="modal-header">
									          <button type="button" class="close" data-dismiss="modal">&times;</button>
									          <!--  <h4 class="modal-title">Modal Header</h4> -->
									        </div>
									        <div class="modal-body">
									          <p>Datos cambiados correctamente</p>
									        </div>
									        <div class="modal-footer">
									          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									        </div>
									      </div>
									      
									    </div>
									  </div>
				<button class="btn-lg btn btn-grey">Cancelar</button>
			</div>
			
  	    </div>
  	
  	</div>





  	
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="/js/jquery-3.2.1.slim.min.js" ></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js" ></script>    
  
  </body>
</html>