<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <title>Conecta2</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    
    <!-- Style CSS -->
    <link href="../css/style.css" rel="stylesheet" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  	<nav th:replace="fragments/navbar :: navbar"></nav>
  	
  	
  	<div th:if="${popup == null}">
  	<div th:if="${emp != null}" class="row mt-5">
  		<div class="col-1 rounded"></div>
  		<div class="col-3 container-lista-oferta rounded"></div>
  		<div class="col-4  mx-auto letra-azul text-center rounded ">
  		  
  			<h1>Ofertas</h1>
  			
  		</div>
  		<div class="col-3 container-lista-oferta rounded"></div>
  		<div class="col-1 rounded"></div>
  	</div>
  	<div class="row mt-5">
  	
  		<div th:if="${emp != null}" class="col-10 color-perfil mx-auto border border-dark rounded ">
  			
	       <div class="row"> 
	        	   <div class="col-11  mx-auto justify-content-between text-right"> 
	        	   <label>
	        		¿Desea crear una nueva oferta de trabajo?	   	
	 	           </label>
	 	            <a href="/crear-oferta">              
	  	               	<button type="submit" class="btn botonAzul flex-row-reverse ml-3"  name="botonCrearOferta">Crear Oferta Nueva</button>
	  	             </a>
  	        
  	            </div>
  	            
  	       
	        </div>
	        <div class="row mt-5">
	              <div class="col-11 mx-auto">
 		          	 <table class="table table-hover table-responsive ">
 		          	 <thead>
 		          	 <tr>
 		          	 		<th >Titulo oferta</th>
	  						<th>Tipo jornada</th>
	  						<th>Tipo Contrato</th>
							<th>Ciudad</th>
							<th>Vacantes</th>
							<th >Salario</th>
							<th>Particulares inscritos</th>
							<th>Opciones</th>
 		          	 </tr>
 		          	 </thead>
 		          	 <tbody  >
 		          	  	<tr class="align-middle" th:each="oferta : ${listaOfertas}">
	  						<td  class="align-middle"th:text="${oferta.nombre}"></td>
	  						<td  class="align-middle"th:text="${oferta.JornadaLaboral.displayName}"></td>
	  						<td  class="align-middle"th:text="${oferta.contrato.displayName}"></td>
							<td class="align-middle"  th:text="${oferta.ciudad}"></td>
							<td   class="align-middle"th:text="${oferta.vacantes}"></td>
							<td  class="align-middle"th:text="${oferta.salario}"></td>
							<td  class="align-middle" th:text="${oferta.particulares.size()}"></td>
							
							<td> 
							 <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="${oferta.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   								Opciones
 							 </a>
							 <div class="dropdown-menu" aria-labelledby="${oferta.id}">
							 
							  		  <a class="dropdown-item" th:href="'/verOferta?id=' +${oferta.id}" >Ver Oferta</a>
  									  <a class="dropdown-item disabled" th:href="'/modificar?id=' +${oferta.id}">Modificar</a>
  									  <a class="dropdown-item disabled" th:href="'/eliminarOferta?id=' +${oferta.id}">Eliminar</a>
  									  <a class="dropdown-item" th:href="'/candidatos?id=' +${oferta.id}">Ver Candidatos</a>
 									  <a class="dropdown-item disabled" th:href="'/finalizarOferta?id=' +${oferta.id}">Finalizar</a>
 							 </div>
							</td>
      					</tr>
      					
 		          	</tbody>
 		          	
 		          	
 		          	
 		          	
 		          	</table>
 		          
 		        </div> 
	        </div> 	   
  	    </div>
  	    </div>
  	    
  	    
  	    <!-- PARTICULARES -->
  	    
  	    
  	  	<div th:if="${par != null}" class="row mt-5">
  		<div class="col-1 rounded"></div>
  		<div class="col-3 container-lista-oferta rounded"></div>
  		<div class="col-4  mx-auto letra-azul text-center rounded ">
  		  
  			<h1>Ofertas inscritas</h1>
  			
  		</div>
  		<div class="col-3 container-lista-oferta rounded"></div>
  		<div class="col-1 rounded"></div>
  	</div>
  	    
  	    <div class="row mt-5">
  	    <div th:if="${par != null}" class="col-10 color-perfil mx-auto border border-dark rounded text-center ">
  	    <h4>... Estas son todas las ofertas en las que te has inscrito! ...</h4>
  	   
  	    <div class="row mt-5 ">
	              <div class="col-10 mx-auto  ">
 		          	 <table class="table table-hover table-responsive ">
 		          	 <thead>
 		          	 <tr>
 		          	 		<th class="text-center">Titulo oferta </th>
	  						<th class="text-center">Tipo jornada</th>
	  						<th class="text-center">Tipo Contrato</th>
							<th class="text-center">Ciudad</th>
							<th class="text-center">Vacantes</th>
							<th class="text-center">Salario</th>
							<th class="text-center">Particulares inscritos</th>
							<th class="text-center">&nbsp;</th>
 		          	 </tr>
 		          	 </thead>
 		          	 <tbody  >
 		          	  	<tr th:each="oferta : ${listaOfertas}">
	  						<td class="text-center" th:text="${oferta.nombre}"></td>
	  						<td class="text-center" th:text="${oferta.JornadaLaboral.displayName}"></td>
	  						<td class="text-center" th:text="${oferta.contrato.displayName}"></td>
							<td class="text-center" th:text="${oferta.ciudad}"></td>
							<td class="text-center" th:text="${oferta.vacantes}"></td>
							<td class="text-center" th:text="${oferta.salario}"></td>
							<td class="text-center" th:text="${oferta.particulares.size()}"></td>
							
							<td> 
							
							<a th:href="'/verOferta?id=' +${oferta.id}">
				             <input type="button" class="btn botonAzul " value="Ver oferta"></input>							              
				         </a>
 							
							
							</td>
      					</tr>
      					
 		          	</tbody>
 		          	
 		          	
 		          	
 		          	
 		          	</table>
 		          
 		        </div> 
	        </div> 	   
  	    </div>
  	    
  	</div>
  	
  	<!-- BUSCADOR -->
  	<div th:if="${listaOfertasBuscadas != null}" class="row mt-5">
  		<div class="col-1 rounded"></div>
  		<div class="col-3 container-lista-oferta rounded"></div>
  		<div class="col-4  mx-auto letra-azul text-center rounded ">
  		  
  			<h1>Resultados de búsqueda</h1>
  			
  		</div>
  		<div class="col-3 container-lista-oferta rounded"></div>
  		<div class="col-1 rounded"></div>
  	</div>
  	    
  	    <div class="row mt-5">
  	    <div th:if="${listaOfertasBuscadas != null}" class="col-10 color-perfil mx-auto border border-dark rounded text-center ">
  	   
  	    <h4 th:if="${listaOfertasBuscadas.size() &gt; 0}">... Estas son todas las ofertas disponibles ...</h4>
  	    <h4 th:if="${listaOfertasBuscadas.size() == 0}">... No hay ofertas disponibles ...</h4>
  	   
  	    <div th:if="${listaOfertasBuscadas.size() &gt; 0}" class="row mt-5 ">
	              <div class="col-10 mx-auto  ">
 		          	 <table class="table table-hover table-responsive ">
 		          	 <thead>
 		          	 <tr>
 		          	 		<th class="text-center">Titulo oferta </th>
	  						<th class="text-center">Tipo jornada</th>
	  						<th class="text-center">Tipo Contrato</th>
							<th class="text-center">Ciudad</th>
							<th class="text-center">Vacantes</th>
							<th class="text-center">Salario</th>
							<th class="text-center">Particulares inscritos</th>
							
					
							<th class="text-center">&nbsp;</th>
							<th class="text-center">&nbsp;</th>
 		          	 </tr>
 		          	 </thead>
 		          	 <tbody>
 		          	  	<tr th:each="oferta : ${listaOfertasBuscadas}">
	  						<td class="text-center" th:text="${oferta.nombre}"></td>
	  						<td class="text-center" th:text="${oferta.JornadaLaboral.displayName}"></td>
	  						<td class="text-center" th:text="${oferta.contrato.displayName}"></td>
							<td class="text-center" th:text="${oferta.ciudad}"></td>
							<td class="text-center" th:text="${oferta.vacantes}"></td>
							<td class="text-center" th:text="${oferta.salario}"></td>
							<td class="text-center" th:text="${oferta.particulares.size()}"></td>
							
							
							 
							 
							  		  <td> 
								<a class="btn botonAzul" th:href="'/verOferta?id=' +${oferta.id}">VerOferta</a>
							</td>
							<td>
								<!-- th:if="${!(oferta.particulares.contains(par))}" -->
								<form th:action="@{/inscribir}" method="POST">
									<input type="hidden" name="id_oferta" th:value="${oferta.id}"/>
									<button type="submit" class="btn botonAzul">Inscribirme</button>
								</form>
  									  
 							
								
							</td>
							
      					</tr>
      					
 		          	</tbody>
 		          	
 		          	
 		          	
 		          	
 		          	</table>
 		          
 		        </div> 
	        </div> 	   
  	    </div>
  	    
  	</div>
	</div>
	
	
  	    <!-- Si hay un error -->
	<div th:if="${popup != null}">	
		<div class="modal-dialog">
									    
			 <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<label th:text="${popup}"></label>
				</div>
				<div class="modal-footer">
					<a href="/ofertas" class="btn">Ir atras</a> 
			 	</div>
			</div>
									      
		</div>	
	</div>
	
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.slim.min.js" ></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js" ></script>    

  </body>
</html>