<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<title>Conecta2</title>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	crossorigin="anonymous" />

<!-- Style CSS -->
<link href="../css/style.css" rel="stylesheet" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
</head>
<body>
	<nav th:replace="fragments/navbar :: navbar"></nav>
	<div th:replace="fragments/cabecera :: cabecera(titulo='Candidatos')"></div>

	<div th:if="${popup == null}">
		<div class="row mt-5">

			<div
				class="col-10 color-perfil mx-auto border border-dark rounded container-fondoGris">
				 <div class="row ml-4 mt-2"> 
					  
					    <a th:href="'/ofertas'">
				             <input type="button" class="btn-lg  btn botonAzul  btn-sm " value="Volver al listado de ofertas"></input>							              
				         </a>
				         </div>
				<div class="row mt-5">
					<div class="col-12 mx-auto table-responsive">
							<input type="hidden" th:name="idOferta" th:value="${oferta.id}" >
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="text-center">Contratado</th>
										<th class="text-center">Nombre</th>
										<th class="text-center">Apellidos</th>
										<th class="text-center">Email</th>
										<th class="text-center">Teléfono</th>
										<th class="text-center">Opciones</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="particular : ${listaCandidatos}">
										<td class="text-center">
											<div th:if= "${#lists.contains(listaSeleccionados,particular)} ">
												<i class="material-icons ">done</i>
											</div>
										</td>
										<td class="text-center" th:text="${particular.nombre}"></td>
										<td class="text-center" th:text="${particular.apellidos}"></td>
										<td class="text-center" th:text="${particular.email}"></td>
										<td class="text-center" th:text="${particular.telefono}"></td>
										<td class="text-center"><a
											class="btn btn-secondary dropdown-toggle" href="#"
											role="button" id="${particular.id}" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false"> Opciones </a>
											<div class="dropdown-menu" aria-labelledby="${particular.id}">
												<a class="dropdown-item"
													th:href="'/verCandidato?idOferta=' + ${oferta.id} + '&idCandidato=' + ${particular.id}">Ver
													Perfil</a>
													<div th:if="${particular}">
														<a th:if= "${!#lists.contains(listaSeleccionados,particular) and !oferta.finalizada} " class="dropdown-item" th:href="'/Seleccionar-Candidato?idOferta=' + ${oferta.id} + '&idCandidato=' + ${particular.id}">Seleccionar</a>														
													</div>
													<div th:if="${particular}">
														<a th:if= "${#lists.contains(listaSeleccionados,particular) and !oferta.finalizada} " class="dropdown-item" th:href="'/Puntuar-Contratado?idOferta=' + ${oferta.id} + '&idCandidato=' + ${particular.id}">Puntuar</a>														
													</div>
											</div></td>
									</tr>

								</tbody>

							</table>
						 

					</div>
				</div>



			</div>

		</div>



	</div>


	<!-- Si hay un error -->
	<div th:if="${popup != null}">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<label th:text="${popup}"></label>
				</div>
				<div class="modal-footer">
					<a href="/ofertas" class="btn">Ir atras</a>
				</div>
			</div>

		</div>
	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="/js/jquery-3.2.1.slim.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>