<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <title>Conecta2</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    
    <!-- Style CSS -->
    <link href="../css/style.css" rel="stylesheet" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  	<nav th:replace="fragments/navbar :: navbar"></nav>
  	
  	<div class="row mt-5">
  		
  		
  		<div class="  mx-auto letra-azul text-center rounded">
  		  
  			<h1>Ofertas publicadas</h1>
  			
  		</div>
  		
  	</div>
  	<div class="row mt-5">
  	
  		<div class="col-10 color-perfil mx-auto border border-dark rounded ">
  			 	
	       <div class="row"> 
	        	   <div class="col-10  mx-auto justify-content-between"> 
	        	   <label>
	        		¿Desea crear una nueva oferta de trabajo?	   	
	 	           </label>
	 	            <a href="/crear-oferta">              
	  	               	<button type="submit" class="btn botonAzul flex-row-reverse"  name="botonCrearOferta">Crear Oferta Nueva</button>
	  	             </a>
  	        
  	            </div>
  	            
  	       
	        </div>
	        <div class="row mt-5">
	              <div class="col-10 mx-auto">
 		          	 <table class="table table-hover table-responsive">
 		          	 <thead>
 		          	 <tr>
 		          	 		<th >Titulo oferta </th>
	  						<th >Tipo jornada</th>
	  						<th >Tipo Contrato</th>
							<th >Ciudad</th>
							<th >Vacantes</th>
							<th >Salario</th>
					
							<th>Opciones </th>
 		          	 </tr>
 		          	 </thead>
 		          	 <tbody>
 		          	  	<tr th:each="oferta : ${listaOfertas}">
	  						<td  th:text="${oferta.nombre}"></td>
	  						<td  th:text="${oferta.JornadaLaboral}"></td>
	  						<td th:text="${oferta.contrato}"></td>
							<td th:text="${oferta.ciudad}"></td>
							<td th:text="${oferta.vacantes}"></td>
							<td th:text="${oferta.salario}"></td>
							
							<td> 
							 <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="${oferta.id}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   								Opciones
 							 </a>
							 <div class="dropdown-menu" aria-labelledby="${oferta.id}">
							 
							  		  <a class="dropdown-item" th:href="'/verOferta?id=' +${oferta.id}" > Ver</a>
  									  <a class="dropdown-item" th:href="'/modificar?id=' +${oferta.id}">Modificar</a>
  									  <a class="dropdown-item" th:href="'/eliminarOferta?id=' +${oferta.id}">Eliminar</a>
 									  <a class="dropdown-item" th:href="'/finalizarOferta?id=' +${oferta.id}">Finalizar</a>
 							 </div>
							</td>
      					</tr>
 		          	</tbody>
 		          	</table>
 		          
 		        </div> 
	        </div> 	   
  	    </div>
  	</div>

  	
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.slim.min.js" ></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js" ></script>    
 
  </body>
</html>