<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">

	<title>Conecta2</title>
	
	<!-- Required meta tags -->
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	
	<!-- Style CSS -->
	<link href="css/style.css" rel="stylesheet" />
	<link href="css/nav.css" rel="stylesheet" />
	<link href="css/paginaMenu.css" rel="stylesheet" />
	
</head>
<body>
	
	<div class="container-fluid fix-padding">
		<!-- Navbar -->
		<nav th:replace="fragments/nav :: nav"></nav>
		
		<!-- Buscar... -->
		<div class="row justify-content-center mt-3">
			<form>
			  <input type="text" name="search" id="search" placeholder="Buscar...">
			</form>
		</div>
		
		<!-- Ver ofertas -->
		<div class="row justify-content-center mt-3">
			<div class="col-auto">
				
				<ul class="lista-ofertas">
					<li class="d-flex flex-row justify-content-between li-ver-ofertas">
						<span class="d-flex flex-row title-lista-ofertas px-4 py-1">Ver Ofertas</span>
						
						<div class="btn-group dropleft">
							<button class="btn btn-std dropdown-toggle btn-menu" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img src="/images/settings.png" height="25px" width="auto">
							</button>
							
							<div class="dropdown-menu dropdown-menu-right">
								<h6 class="dropdown-header">Ofertas</h6>
								<a class="dropdown-item" href="#">Añadir</a>
								<a class="dropdown-item" href="#">Modificar</a>
								<a class="dropdown-item" href="#">Eliminar</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Finalizar oferta</a>
							</div>
						</div>
					</li>
					<li class="d-flex flex-row align-items-center justify-content-between oferta">
					
						<a href="#" class="title-oferta ml-3">Desarrollador Web</a>
						
						<div class="d-flex flex-row align-items-center mr-3">
							<div class="d-flex flex-row align-items-center group-icons-oferta mx-2">
								<div class="d-flex flex-row align-items-center icon-oferta mx-2">
									<img src="/images/plazas.png" alt="Plazas" height="30px" width="auto">
									<span>1</span>
								</div>
								<div class="d-flex flex-row align-items-center icon-oferta mx-2">
									<img src="/images/inscritos.png" alt="Inscritos" height="auto" width="30px" class="mr-1">
									<span>4</span>
								</div>
							</div>
							<button class="btn btn-std btn-oferta">Ver candidatos</button>
						</div>
						
					</li>
					<li class="d-flex flex-row align-items-center justify-content-between oferta">
					
						<a href="#" class="title-oferta ml-3">Gestor de proyectos</a>
						
						<div class="d-flex flex-row align-items-center mr-3">
							<div class="d-flex flex-row align-items-center group-icons-oferta mx-2">
								<div class="d-flex flex-row align-items-center icon-oferta mx-2">
									<img src="/images/plazas.png" alt="Plazas" height="30px" width="auto">
									<span>1</span>
								</div>
								<div class="d-flex flex-row align-items-center icon-oferta mx-2">
									<img src="/images/inscritos.png" alt="Inscritos" height="auto" width="30px" class="mr-1">
									<span>2</span>
								</div>
							</div>
							<button class="btn btn-std btn-oferta">Ver candidatos</button>
						</div>
						
					</li>
					<li class="d-flex flex-row align-items-center justify-content-between oferta">
					
						<a href="#" class="title-oferta ml-3">Testers</a>
						
						<div class="d-flex flex-row align-items-center mr-3">
							<div class="d-flex flex-row align-items-center group-icons-oferta mx-2">
								<div class="d-flex flex-row align-items-center icon-oferta mx-2">
									<img src="/images/plazas.png" alt="Plazas" height="30px" width="auto">
									<span>2</span>
								</div>
								<div class="d-flex flex-row align-items-center icon-oferta mx-2">
									<img src="/images/inscritos.png" alt="Inscritos" height="auto" width="30px" class="mr-1">
									<span>6</span>
								</div>
							</div>
							<button class="btn btn-std btn-oferta">Ver candidatos</button>
						</div>
						
					</li>
				</ul>
			</div>
		</div>
	</div>
	
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="//code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>  

</body>

</html>