<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <title>Conecta2</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    
    <!-- Style CSS -->
    <link href="../css/style.css" rel="stylesheet" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  	<nav th:replace="fragments/navbar :: navbar"></nav>
  	
  	
  	
  	
  	
  	
  	<div class="row mt-5">
  	
  	
  		<div class="col-10 color-perfil  mx-auto border border-dark rounded container-perfil">
  			
	         	<div class="row">
	        		<div class="col-4 margenes-foto"> 
	        			 <img src="/images/avatar.png" class=" img-thumbnail img-fluid rounded-circle" height="200px" width="200px" alt="foto perfil">
	        	    </div>    
	        	    	<div class="col-1  margen-boton-modificar"> 
	        	    	
  	              <a href="/empresa/modificar"> 
  	               	<button type="submit" class="mt-4 btn boton  border-Azul rounded-circle "  name="botonModificar"><i class="material-icons">border_color</i></button>
  	               	</a>
	        	    	</div>	 
	        	</div> 
  		
  		   <div class="row">
  		     <div class="col-6  ml-auto text-center">
  		          <h3>Datos personales</h3>
  		          <hr class="mb-4 separador-gris">
  		          <form>
			  	    <div class="form-group row ">
			  		<label class="perfilTitulo letra-azul col-form-label col-3  margen-datos " for="Nombre"><u>Nombre:</u> </label>					  		  		
			  		  <span class="form-control-plaintext " th:text=${transferParticular.nombre}></span>
			  			<!-- <input class="form-control" id="cif"> -->			  			
			  		 </div>
			  		
			  		  <div class="form-group row">
			  		<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos" for="Nombre"><u>Apellidos:</u> </label>					  		  		
			  		  <span class="form-control-plaintext " th:text=${transferParticular.apellidos}></span>
			  			<!-- <input class="form-control" id="cif"> -->			  			
			  		 </div>
			  		 
			  		 
			  		  <div class="form-group row">
			  		<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos" for="Nombre"><u>DNI:</u> </label>					  		  		
			  		  <span class="form-control-plaintext " th:text=${transferParticular.dni}></span>
			  			<!-- <input class="form-control" id="cif"> -->			  			
			  		 </div>
			  		 
			  		 <div class="form-group row">
			  		<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos" for="Nombre"><u>Teléfono:</u> </label>					  		  		
			  		  <span class="form-control-plaintext " th:text=${transferParticular.telefono}></span>
			  			<!-- <input class="form-control" id="cif"> -->			  			
			  		 </div>
			  		 
			  		  <div class="form-group row">
			  		<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos " for="Nombre"><u>Email:</u> </label>					  		  		
			  		  <span class="form-control-plaintext " th:text=${transferParticular.email}></span>
			  			<!-- <input class="form-control" id="cif"> -->			  			
			  		 </div>
			  	    
			  		</form>
			  		
			  	</div>
  		     <div class="col-6  sep-vertical text-center">
 		     <h3>Información Adicional</h3>
  		          <hr class="mb-4 separador-gris">
  		     	<div class="form-group text-left">
  		     	<label for="descripcion" class="perfilTitulo letra-azul"><u>Descripción:</u></label>
  		     	<textarea class="form-control " rows="5" id="descripcion" readonly></textarea>
  		        </div>
  		     
  		     
  		     </div>
  		    
  		    
  		   </div><!-- final row -->
  	    </div>
  	
  	</div>





  	
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="/js/bootstrap.min.js" ></script>    
 
  </body>
</html>