<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <title>Conecta2</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
    
    <!-- Style CSS -->
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/rating.css" rel="stylesheet" />
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  	<nav th:replace="fragments/navbar :: navbar"></nav>
  		
	<div th:if="${popup == null}">
	
	
  	<div class="row mt-5">
  		<div class="col-10 color-perfil  mx-auto border border-dark rounded container-perfil">
        	<div class="row mb-3 justify-content-between">
        		<div class="col-4"></div>
       			<div class="col-4 text-center"> 
        			 <img src="/images/avatar.png" class="perfil-img img-thumbnail img-fluid rounded-circle" alt="foto perfil">
        	    </div>    
        	    <div class="col-4"> 	
	 	            <a th:href="'/particular/modificar'" th:if="${particular != null}"> 
	 	            	<button type="submit" class="mt-5 mr-5 btn boton border-Azul rounded-circle float-right"  name="botonModificar"><i class="material-icons">edit</i></button>
	 	            </a>
        	    </div>	 
       		</div> 
  		
  		   <div class="row">
  		     <div class="col-6  ml-auto text-center">
  		          	<h3>Datos personales</h3>
  		          	<hr class="mb-4 separador-gris">
			  	    <div class="row">
			  			<label class="perfilTitulo letra-azul col-form-label col-3  margen-datos " for="Nombre">Nombre: </label>
			  			<span class="form-control-plaintext " th:text=${transferParticular.nombre}></span>		  			
			  		</div>
			  		<div class="row">
			  			<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos" for="Nombre">Apellidos: </label>
			  		  	<span class="form-control-plaintext " th:text=${transferParticular.apellidos}></span>		  			
			  		</div>
			  		<div class="row">
			  			<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos" for="Nombre">DNI: </label>
			  		  	<span class="form-control-plaintext " th:text=${transferParticular.dni}></span>		  			
			  		</div>			  		 
			  		<div class="row">
			  		<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos" for="Nombre">Teléfono: </label>
			  		  <span class="form-control-plaintext " th:text=${transferParticular.telefono}></span>	  			
			  		</div>			  		 
			  		<div class="row">
			  		<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos " for="Nombre">Email: </label>
			  		  <span class="form-control-plaintext " th:text=${transferParticular.email}></span>	  			
			  		</div>
			  		<div class="row">
			  			<label class="perfilTitulo letra-azul col-form-label col-3 margen-datos " for="Puntuación">Puntuación: </label>
						<div th:replace="fragments/puntuacionEstrellas :: puntuacionEstrellas(puntuacionMedia=${puntuacionMedia})"></div>
			  		</div>
			  		<div class="row">
			  			<label class="perfilTitulo letra-azul col-form-label col-auto margen-datos " for="numValoraciones">Número de valoraciones:</label>					  		  		
			  		  	<span class="form-control-plaintext " th:text=${numValoraciones}></span>		  			
			  		</div>
			  	</div>
  		     <div class="col-6 sep-vertical text-center">
  		     
  		     	<div>
	 		     	<h3>Información Adicional</h3>
	  		        <hr class="mb-4 separador-gris">
	  		     	<div class="form-group text-left">
	  		     		<label for="descripcion" class="perfilTitulo letra-azul">Descripción:</label>
	  		     		<textarea  th:text=${transferParticular.descripcion} class="form-control " rows="5" id="descripcion" readonly></textarea>
	  		        </div>
	  		    </div>
  		        
  		        <div th:if="${oferta} != null and ${idParticular} != null and ${oferta.finalizada}" class="mt-5 mb-4">
	  		     <h3>Valoración</h3>
	  		          <hr class="mb-4 separador-gris">
  		          
  		          <form th:action="@{/Puntuar-Contratado}" method="POST">
  		          	
				    <div class="ratingControl">
				        <input type="radio" id="rating-5" name="puntuacion" value="5">
				        <label class="ratingControl-stars ratingControl-stars--5" for="rating-5">5</label>
				        <input type="radio" id="rating-45" name="puntuacion" value="4.5">
				        <label class="ratingControl-stars ratingControl-stars--45 ratingControl-stars--half" for="rating-45">45</label>
				        <input type="radio" id="rating-4" name="puntuacion" value="4">
				        <label class="ratingControl-stars ratingControl-stars--4" for="rating-4">4</label>
				        <input type="radio" id="rating-35" name="puntuacion" value="3.5">
				        <label class="ratingControl-stars ratingControl-stars--35 ratingControl-stars--half" for="rating-35">35</label>
				        <input type="radio" id="rating-3" name="puntuacion" value="3">
				        <label class="ratingControl-stars ratingControl-stars--3" for="rating-3">3</label>
				        <input type="radio" id="rating-25" name="puntuacion" value="2.5">
				        <label class="ratingControl-stars ratingControl-stars--25 ratingControl-stars--half" for="rating-25">25</label>
				        <input type="radio" id="rating-2" name="puntuacion" value="2">
				        <label class="ratingControl-stars ratingControl-stars--2" for="rating-2">2</label>
				        <input type="radio" id="rating-15" name="puntuacion" value="1.5">
				        <label class="ratingControl-stars ratingControl-stars--15 ratingControl-stars--half" for="rating-15">15</label>
				        <input type="radio" id="rating-1" name="puntuacion" value="1">
				        <label class="ratingControl-stars ratingControl-stars--1" for="rating-1">1</label>
				        <input type="radio" id="rating-05" name="puntuacion" value="0.5">
				        <label class="ratingControl-stars ratingControl-stars--05 ratingControl-stars--half" for="rating-05">05</label>
				    </div>
				    
				    <input type="hidden" name="id_oferta" th:value="${oferta.id}"/>
  		          	<input type="hidden" name="id_contratado" th:value="${idParticular}"/>
				    
				    <button type="submit" class="btn botonAzul mt-4">Valorar</button>
				  </form>
				  
  		     </div>

  		     </div>

  		   </div><!-- final row -->
  	    </div>
  	</div>
  	</div>

			<!-- Si hay un error -->
	<div th:if="${popup != null}">	
		<div class="modal-dialog">
									    
			 <!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<label th:text="${popup}"></label>
				</div>
				<div class="modal-footer">
					<a href="/particular/perfil">
					<button type="submit"  class="btn botonAzul">Volver a perfil</button> 
					</a> 
			 	</div>
			</div>
									      
		</div>	
	</div>
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="/js/bootstrap.min.js" ></script>    
 
  </body>
</html>